/*
Theme Name: MiniWP

Author: chibi.pl
Author URI: wordpress.chibi.pl
Description: For default settings. Its minimaized but has a lot customization options. Easy to build on new templates.
Version: 1.0
License: GPLv2
License URI: 
Tags: 
Text Domain: 
*/
.clear { clear: both; }
.hidden { display: none; }
.pointer { cursor: pointer; }

form.dissabled p.dissabled
{
    line-height: 18px;
padding-top: 2px;
}

.partAB.textleft header { text-align: left; }

html{
    font-family: Clio;
}
body {
    background: #FFF;
    min-height: 700px;

}
#page{
    margin-left: auto;
    margin-right: auto;
}
#main{
    margin-top: 10px;
    border-top: #07B254 solid 2px;
    padding: 10px; 
}
#main h2.center{
    text-align: center;
    font-size: 150%;
    margin-bottom: 30px;
}
#masthead #logoImg { width: 280px; float: left; }
#navbar
{
    position: left;
/*    top: -70px;*/
    width: 720px;
    float: right;
    padding: 5px 0 5px 0;
    
}

#navbar ul
{
    
}

#navbar ul li
{
    float: left;
/*    width: 144px;*/
    padding: 20px 15px;
    text-align: center;
}

#navbar ul li a
{
    font-size: 14pt;
    text-decoration: none;
}

a {
}

a:hover {
}
#start_content{
       width: 100%;
       /*height: 550px;*/
/*       margin-left: 95px;
       margin-right: 95px;*/
   }
   #start_content_page{
       width: 75%;
       text-align: justify;
   }
   #main #start_content #start_content_news .category_post .entry-title{
       margin-top: 10px;
/*       text-align: justify;*/
   }
   #main #start_content #start_content_page p{
       line-height: 20px;
       margin-top: 15px;
   }
   #start_content_news{
       padding: 5px;
       margin-top: 30px;
       width: 225px;
       border: 2px solid #07B254;
       min-height: 200px;
   }
   .boxes{
       width: 100%;
       height: 200px;
       padding-top: 50px;
       padding-bottom: 25px;
   }
   .box_content{
       width:190px;
       height: 190px;
       padding: 5px;
       float: left;
       background-color: pink;
   }
   .start_left{
       margin-left: 48px;
   }
   .start_right{
       margin-right: 47px;
   }
.category_post{
    margin-bottom: 20px;
}
.post_category_content{
    
}
#miniankieta{
    margin-bottom: 70px;
}
#main .ankieta_part{
    width: 400px;
    /*background-color: red;*/
}
#main section h3{
    width: 400px;
    font-size: 20px;
    text-align: center;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.info{
    font-size: 9pt;
    color: red;
    font-weight: bold;
}
#main section .ankieta_part li:first-child{
    background-color: #F0531B;
}
#main section .ankieta_part li:first-child:hover{
    background-color: #B33F15;
}
#main section .ankieta_part li{
    position: relative;
    margin-top:  10px;
    margin-bottom: 10px;
    height: 30px;
    width: 400px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background-color: #07B254;
    text-align: center;
}
#main section .ankieta_part li:hover{
    background-color: #097A3C;
}
#main section .ankieta_part li a{
    text-decoration: none;
    color: white;
    font-size: 10pt;
    line-height: 25px;
}
#main section .ankieta_part li.transparent{
    background-color: transparent;
}
 #main section .ankieta_part li:hover.transparent{
    background-color: transparent;
}
.add {
    width: 976px;
/*    background-color: red;*/
}
section#gmina_base{
    margin-top: 30px;
}
section#gmina_base>div{
    padding: 13px;
    margin: 5px auto;
    width: 340px;
    padding-left: 80px;
}
section#gmina_base .publikowanie{
    margin-top: 100px;
}
section#gmina_base .publikowanie div{
    font-size: 30px;
    text-transform: uppercase;
}
section#gmina_base div label{
    width: 180px;
    float: left;
    font-weight: bold;
}
section#gmina_base div input, section#gmina_base div select{
    width: 150px;
    float: left;
}
#main #miniankieta form div[form_type="klub"],
#main #miniankieta form div[form_type="person"]
,#main #miniankieta form div[form_type="kategoria"]{
    margin-bottom:30px; 
}
#main #miniankieta form div label{
    font-weight: bold;
}
#main #miniankieta form div[form_type="kategoria"] ul,
#main #miniankieta form div[form_type="klub"] ul
,#main #miniankieta form div[form_type="person"] ul{
    margin-left: 15px;
}
#main #miniankieta form div[form_type="klub"] ul li,
#main #miniankieta form div[form_type="kategoria"] ul li
,#main #miniankieta form div[form_type="person"] ul li{
    line-height: 32px;
    clear: both;
}
#main #miniankieta form div ul li label{
    font-weight: normal;
}
#main #miniankieta form div[form_type="klub"] ul li label,
#main #miniankieta form div[form_type="kategoria"] ul li label,
#main #miniankieta form div[form_type="person"] ul li label{
    float: left;
    width: 100px;
    padding: 3px;
}
#main #miniankieta form div[form_type="klub"] ul li .person,
#main #miniankieta form div[form_type="kategoria"] ul li .person,
#main #miniankieta form div[form_type="person"] ul li .person{
    float: left;
    width: 160px;
}
#main #miniankieta form div[form_type="klub"] ul li .controller,
#main #miniankieta form div[form_type="kategoria"] ul li .controller,
#main #miniankieta form div[form_type="person"] ul li .controller{
    float: left;
}
#main #miniankieta form div[form_type="klub"] ul li .controller .remove,
#main #miniankieta form div[form_type="kategoria"] ul li .controller .remove,
#main #miniankieta form div[form_type="person"] ul li .controller .remove{
    background: url('img/icons/close_delete.png') no-repeat left center;
    padding-left: 32px;
}
#main #miniankieta form div[form_type="klub"] .controller .add,
#main #miniankieta form div[form_type="kategoria"] .controller .add,
#main #miniankieta form div[form_type="person"] .controller .add{
    clear: both;
     line-height: 32px;
     background: url('img/icons/user_friend.png') no-repeat left center;
    padding-left: 32px;
}

article.partAB header {
    padding-bottom: 20px;
}
article.partAB header div label{
    font-size: 110%;
    font-weight: bold;
}
article.partAB header div ul{
    margin-left: 15px;
    line-height: 25px;
}
article.partAB section.file_upload_holder header div.uploader{
    width: 200px;
    float: left;;
}
article.partAB section.file_upload_holder header div.uploader_list{
/*    width: ;*/
    float: left;
}
article.partAB section.file_upload_holder header div.uploader div.drag-drop-area {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border: 2px dashed grey;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    clear: both;
    margin-top: 21px;
}
article.partAB section.file_upload_holder header div.uploader div.drag-drop-area div.drag-drop-inside p.drag-drop-info{
    height: 45px;
    font-weight: bold;
    margin-top: 15px;
}
article.partAB section.file_upload_holder header div.uploader_list div.media-item{
    clear:both;
    line-height: 32px;
    margin-bottom: 10px;
}
article.partAB section.file_upload_holder header div.uploader_list div.media-item div.progress{
    float: left;
}
article.partAB section.file_upload_holder header div.uploader_list div.media-item div.filename{
    float: left;
}
article.partAB section.file_upload_holder header div.uploader_list div.media-item div.remove{
    float: left;
     background: url('img/icons/close_delete.png') no-repeat left center;
    padding-left: 32px;
}
article.partAB header div.left{
/*    width: 50px;*/
    line-height: 32px;
    float: left;
     background: url('img/icons/backward.png') no-repeat left center;
    padding-left: 32px;
}
article.partAB header div.center ul li.dot{
    width: 25px;
   line-height: 32px;
   background: url('img/icons/radio-button_off.png') no-repeat right center;
/*   padding-right: 32px;*/
}
article.partAB header div.center ul li.dot.active{
    width: 25px;
   line-height: 32px;
   background: url('img/icons/radio-button_on.png') no-repeat right center;
/*   padding-right: 32px;*/
}

article.partAB header div.right{
/*    width: 30px;*/
    line-height: 32px;
   float: right;
   background: url('img/icons/forward.png') no-repeat right center;
   padding-right: 32px;
   text-align: right;
}
article.partAB section.file_upload_holder{

    /*margin-top: 100xp;*/
}
#page .site-footer{
    border-top: #07B254 solid 2px;
    padding-top: 5px;
}
#page .site-footer img{
    width: 70%;
}
#page .site-footer #footer_desc{
    width: 30%;
    font-size: 9px;
}

/* Content z bazy - post, strona etć. */
.page_content p
{
    margin-bottom: 5px;
}
  .page_content ul ul
, .page_content ul ol
{
    list-style-type: circle;
}
  .page_content ol {     margin-lefT: 25px; }
.page_content ul
{
    margin-lefT: 25px;
    list-style: initial;
}
.page_content
{
    padding: 5px;
}

/* Zmiany z dnia 2013.10.02 */
.partAB header
{
    text-align: center;
}
.partAB header li
{
/*    text-transform: uppercase;*/
}

.partAB h4, 
.page_content h4
{
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
h1.big
{
    font-size: 150%;
    margin-bottom: 10px;
}

/*
blockquote {
  font: 18px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-image: url('img/openquote3.gif');
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
  }
  blockquote p {
    background-image: url('img/closequote3.gif');
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 54px;
}
*/

.podsumowanie_controller .left, .podsumowanie_controller .right, .podsumowanie_controller .dot { cursor: pointer; }

/* zmiany do monitorowanych gmin */

#gminyMetryczki li.item div.hidden{
  width: 750px;
}
#main #gminyMetryczki .item{
	margin-top:5px;
	margin-bottom: 5px;
	border-bottom: 1px solid gray;
}
#main #gminyMetryczki .item h2.bold{
	line-height: 40px;
}

#gminyMetryczki .item h2 span.clickMetryczka { cursor: pointer; }
#gminyMetryczki .item h2 span{
/*	margin-left: 30px;*/
	background-color: #07B254;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	line-height: 30px;
	padding: 3px;
	float: right;
    margin-left: 10px;
}
#gminyMetryczki .item .hidden .left{
	float: left;
	width: 345px;
  	margin-left: 10px;
}
#gminyMetryczki .item .hidden .left ul li{
	line-height: 20px;
} 
#gminyMetryczki .item .hidden .right ul{
	background: red;
}
#gminyMetryczki .item .hidden .left ul li:nth-child(odd){
	background: #CCC
}
#gminyMetryczki .item .hidden .left ul li:nth-child(even){
	background: #FFF
}
#gminyMetryczki .item .hidden .left ul li span{
	float: right
}
#gminyMetryczki .item .hidden .right{
	float: right;
	width: 345px;
}
#gminyMetryczki .item .hidden .right ul{
	margin-bottom: 10px;
}
#gminyMetryczki .item .hidden .right ul:nth-child(odd){
	background: #CCC
}
#gminyMetryczki .item .hidden .right ul:nth-child(even){
	background: #FFF
}
#gminyMetryczki .item .hidden .right ul label{
	font-weight: bold;
  background: green;
  max-width: 200px;
}
 
#gminyMetryczki .item .hidden .right ul li{
 	display:block; 
  background: red;
}
#gminyMetryczki .item .hidden .right ul li{
	float: right;

}
.contactPerson{
  height: 340px;
  text-align:justify;
    bacground: red;
  }
.contactPerson .image{
	float: left; 
	width: 250px;
  }
.contactPerson .description{
	float: right;
	width: 700px;
	margin-top: 100px;
  }
.mceIframeContainer{
	background: #FCFCCC;
}